

.appTitle {
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    color: #1e8cdc;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
    font-weight: bold;
}

.hrLine {
    border: 1px solid gray;
    margin-top: 3%;
}